<!DOCTYPE html>
<html lang="en">

<head th:replace="commons/header :: header" />

<body>
  <!-- Menu principal -->

  <head th:replace="commons/menu :: menu" />
  <style>
    form {
      width: 50em;
      margin-left: 2em;
      margin-top: .8em;
    }

    h3 {
      margin-left: 2em;
      margin-top: .8em;
    }

    #divCheck,
    #botonEnviar,
    #botonCancelar {
      margin-top: 2.5em;
    }

    img {
      width: 10em;
      height: 15em;
    }
  </style>
  <div class="container">



    <h3>Datos del producto</h3>

    <div th:unless="${carrito}">  
      <form th:action="@{/productos/edit}" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="col">
            <div th:unless="${carrito}">
              <div class="col">
                <div>
                  <img th:src="'data:image/jpeg;base64,' + ${producto.imageView}" class="card-img-top" alt="..." width="200px"
                    height="200px">
                  Ingresa el archivo:
                  <input name="file" type="file" id="file" />
                </div>
      
              </div>
              <div>
                <label hidden for="codigo" class="form-label" th:text="#{tabla.codigo}">Codigo</label>
                <input type="hidden" class="form-control" id="codigo" name="codigo" th:value="${producto.codigo}">
              </div>
              <div>
                <label for="nombre" class="form-label" th:text="#{tabla.nombre}">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" th:value="${producto.nombre}">
              </div>
              <div>
                <label for="descripcion" class="form-label" th:text="#{tabla.descripcion}">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion"
                  th:value="${producto.descripcion}">
              </div>
              <div>
                <label for="precio" class="form-label" th:text="#{tabla.precio}">Precio</label>
                <input type="text" class="form-control" id="precio" name="precio" th:value="${producto.precio}">
              </div>
              <div>
                <input type="submit" value="Actualizar" class="btn btn-primary" id="botonEnviar">
                <a th:href="@{/productos/list}" class="btn btn-primary" id="botonCancelar">Cancelar</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div th:if="${carrito}">  
      <form th:action="@{/cesta/addcesta/{codigo}/{cantidad}(codigo=${producto.codigo},cantidad=2)}" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="col">
          <div th:if="${carrito}">
            <div>
              <img th:src="'data:image/jpeg;base64,' + ${producto.imageView}" class="card-img-top" alt="..." width="200px"
                height="200px">
            </div>
  
            <div>
              <label hidden for="codigo" class="form-label" th:text="#{tabla.codigo}">Codigo</label>
              <input type="hidden" class="form-control" id="codigo" name="codigo" th:value="${producto.codigo}">
            </div>
            <div>
              <label for="nombre" class="form-label"  th:text="#{tabla.nombre}">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" th:value="${producto.nombre}" >
            </div>
            <div>
              <label for="descripcion" class="form-label" th:text="#{tabla.descripcion}" >Descripcion</label>
              <input type="text" class="form-control" id="descripcion" name="descripcion"
                th:value="${producto.descripcion}">
            </div>
            <div>
              <label for="precio" class="form-label" th:text="#{tabla.precio}">Precio</label>
              <input type="text" class="form-control" id="precio" name="precio" th:value="${producto.precio}" >
            </div>
            <div>
              <label for="cantidad" class="form-label" th:text="#{tabla.cantidad}">Cantidad</label>
              <input type="number" id="quantity" name="quantity" min="1" max="500" value="1">
            </div>
            <div>
              <a class="btn btn-primary" th:href="@{/cesta/addcesta/{codigo}/{cantidad}(codigo=${producto.codigo},cantidad=2)}" role="button">Añadir</a>
              <a th:href="@{/productos/list}" class="btn btn-primary" id="botonCancelar">Cancelar</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>