<!DOCTYPE html>
<html lang="en">

<head th:replace="commons/header :: header" />

<body>
  <!-- Menu principal -->

  <head th:replace="commons/menu :: menu" />
  <style>
    form {
      width: 50em;
      margin-left: 2em;
      margin-top: .8em;
    }

    h3 {
      margin-left: 2em;
      margin-top: .8em;
    }

    input {
      margin-top: .2em;
      margin-bottom: .8em;
    }

    #divCheck,
    #botonEnviar,
    #botonCancelar {
      margin-top: 2.5em;
    }
  </style>
  <div class="container">



    <h3>Datos del producto</h3>
    <form th:action="@{/productos/edit}" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col">
          <div>
            <img th:src="'data:image/jpeg;base64,' + ${producto.imageView}" class="card-img-top" alt="..." width="200px"
              height="200px">
            <div th:if="!(${carrito})">
              Ingresa el archivo:
              <input name="file" type="file" id="file" />
            </div>
          </div>

        </div>
        <div class="col">
          <div>
            <label hidden for="codigo" class="form-label" th:text="#{tabla.codigo}">Codigo</label>
            <input type="hidden" class="form-control" id="codigo" name="codigo" th:value="${producto.codigo}">
          </div>
          <div>
            <label for="nombre" class="form-label" th:text="#{tabla.nombre}">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" th:value="${producto.nombre}">
          </div>
          <div>
            <label for="descripcion" class="form-label" th:text="#{tabla.descripcion}">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion"
              th:value="${producto.descripcion}">
          </div>
          <div>
            <label for="precio" class="form-label" th:text="#{tabla.precio}">Precio</label>
            <input type="text" class="form-control" id="precio" name="precio" th:value="${producto.precio}">
          </div>
          <div th:if="${carrito}">
            <label for="cantidad" class="form-label" th:text="#{tabla.cantidad}">Cantidad</label>
            <input type="number" id="cantidadProducto" name="cantidadProducto" class="form-control" value="1">
            <a th:href="@{/cesta/insertarAlCarrito/}+${producto.codigo}" class="btn btn-light" id="cestaCliente"><img th:src="@{/img/cesta-de-la-compra.png}" class="card-img-top" width="30px" height="20px" /></a>
          </div>
        </div>
      </div>
      <div th:if="!(${carrito})">
        <input type="submit" value="Actualizar" class="btn btn-primary" id="botonEnviar">
        <a th:href="@{/productos/list}" class="btn btn-primary" id="botonCancelar">Cancelar</a>
      </div>
    </form>
  </div>
</body>

</html>