<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
  <style>
    #btnNuevo{
      margin-top: .5rem;
      margin-left: 8rem;
    }
    .card{
      margin: 1rem 0.5rem;
    }
  </style>

  <div th:replace="commons/menu :: menu" />
  <!-- CARDS -->
  <a th:href="@{/productos/nuevoProducto}" class="btn btn-primary" id="btnNuevo">Nuevo Producto</a>
  <div class="container">
    <div class="row">
      <div th:each="producto : ${productos}" class="col-3">
        <div class="card" style="width: 20rem;">
          <img th:src="'data:image/jpeg;base64,' + ${producto.imageView}" class="card-img-top" alt="..." width="200px"
            height="200px">
          <div class="card-body">
            <h5 th:text="${producto.nombre}" th:name="${producto.nombre}" class="card-title" value=""></h5>
            <p th:text="${producto.precio} + @{€}" class="card-text"></p>
            <p th:text="${producto.descripcion}" class="card-text"></p>
            <a th:href="@{/productos/modificarProducto?codigo=}+${producto.codigo}" class="btn btn-primary">Editar</a>
            <a th:href="@{/productos/borrar?codigo=}+${producto.codigo}" class="btn btn-primary">Borrar</a>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="commons/pagination :: pagination" />
  </div>

  <div th:replace="commons/footer :: footer" class="container" />

</body>

</html>